PORT=3000
NODE_ENV=development
DATABASE_URL=mongodb://localhost:27017/gibl-api
JWT_SECRET=<generate with: openssl rand -hex 64>
REDIS_URL=redis://localhost:6379
CORS_ORIGINS=http://localhost:3000,https://yourapp.com
APP_URL=http://localhost:3000
SMTP_HOST=sad
SMTP_PORT=asd
SMTP_USER=your@email.com
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@yourapp.com
